<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Date Picker</title>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<h1>Update Expiration</h1>
	<div class="user-info">
		<p class="uid"></p>
		<p class="uname"></p>
		<p class="regist-date"></p>
		<p class="expire-date"></p>
	</div>
	<div class="date-picker">
		<div class="selected-date"></div>

		<div class="dates">
			<div class="month">
				<div class="arrows prev-mth">&lt;</div>
				<div class="mth"></div>
				<div class="arrows next-mth">&gt;</div>
			</div>

			<div class="days"></div>

			<form action="updatingEx" method="GET" class="update-ex-form" hidden>
				<input type="text" name="ID" class="uid" hidden>
				<input type="text" name="newExDate" class="new-ex-date" hidden>
				<input type="submit" class="submit-btn">
			</form>
		</div>
	</div>
	
	<script type="text/javascript" src="{{url_for('static',filename='updateEx.js')}}"></script>
</body>
</html>