[Desktop Entry]
Type=Link
Name=EasyAccess
Icon=/home/pi/Desktop/EasyAccess/rasDesktop/EasyAccessLogo.jpeg
URL=/home/pi/.local/share/applications/alacarte-made.desktop
