[Desktop Entry]
Type=Link
Name=videoStream_EasyAccess
Icon=/home/pi/Desktop/EasyAccess/rasDesktop/StreamVideoLogo.jpg
URL=/home/pi/.local/share/applications/alacarte-made-1.desktop
