h1 {
    font-size: 50px;
    text-align: center;
}


.main-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.main-table td, .main-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.main-table tr:nth-child(even){background-color: #f2f2f2;}

.main-table tr:hover {background-color: #ddd;}

.main-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0462aa;
  color: white;
}


.page-container{
  display:flex;
  flex-direction: column;
}
.table-div{
  display:flex;
  flex-direction: column;
  width: 100%;
}
.page .page-btn{
  padding: 12px;
  text-decoration: none;
  color: white;
  background-color: #5584cc;
  border: none;
  margin-top: 20px;
}
.page-btn:hover{
  background-color: #1276c2;
}
.cancel-btn{
  text-decoration: none;
  color: white;
  background-color: rgb(202, 72, 72);
  border: none;
}
.cancel-btn:hover{
  background-color: rgb(212, 46, 46);
}

.filter-btn{
  text-decoration: none;
  color: white;
  background-color: #4c7fcb;
  border:none;
}
.filter-btn:hover{
  background-color: #187dca;
}
.page{
  height:50px;
  display:flex;
  justify-content:center;
  align-items: center;
}