h1 {
    font-size: 50px;
    text-align: center;
}


.main-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .main-table td, .main-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .main-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .main-table tr:hover {background-color: #ddd;}
  
  .main-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0462aa;
    color: white;
}

/* .table-div { grid-area: table; }
.search-area { grid-area: search; }
.paginationpagination{grid-area:page;}

.page-container{
    display: grid;
  grid-template-areas:
    'search table table table table table table'
    'search table table table table table table'
    'search table table table table table table'
    'search table table table table table table';
  
  gap: 10px;
} */
.page-container{
  display:flex;
}
.table-div{
  display:flex;
  flex-direction: column;
}
.page-btn{
  padding: 12px;
  text-decoration: none;
  color: white;
  background-color: #5584cc;
  border-width: 2px;
  border-color: black;
}
.page-btn:hover{
  background-color: #1276c2;
}

.Previous-Next-btn{
  padding: 12px;
  width: 100px;
  text-decoration: none;
  color: white;
  background-color: rgb(45, 167, 110);
  border-width: 2px;
  border-color: black;
}
.Previous-Next-btn:hover{
  background-color: rgb(23, 176, 125);
}
.page{
  height:50px;
}